<!doctype html>
<title>Websockets tutorial</title>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/estilo.css') }}">
<div class=page>
    <h1>Hello World!</h1>
    <img width={64} height={64} src="/static/img/perfil.png" alt="thumbnail" />
    <button onclick="json_button()">Json Message</button>
    <button onclick="alert_button()">Alert Message</button>
</div>